/* You can add global styles to this file, and also import other style files */
//@import './theme.scss';

@import "assets/sass/abstract/variables";
@import "assets/sass/components/button";
.back-fondo-tone {
  background-image: url(/assets/img/fondo.jpg) !important;
  background-size: cover;
}

body {
  font-family: "Lato", sans-serif;
}

.background-page {
  box-shadow: 0 1.5rem 4rem rgba(#000, 0.15);
}

.u-font-size-small {
  font-size: .8rem;
}

.u-font-size-medium {
  font-size: 1rem;
}

.u-font-size-big {
  font-size: 1.2rem;
}
